
css/main.css

body {
	background-color: #E8F1F5;
	color:  #09546D;
	font-family: Times;
	font-size: 50px;
	line-height: 1.5;
	letter-spacing: 2px;
	font-weight: 500;
}


h1,h2 {
	font-family: Times;
}


h1 {
	color:  #032C6C;
	font-weight: 100;
}


h2 {
	color: #04441E;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}


h3 {
	color: white;
}


a {
	text-decoration: none;
	color: #4A6335;
	transition: color 0.3s ease;
}


a:hover {
	color: #98D165;
}


#btn-green {
	background-color: white;
	padding: 15px 20px;
	border-radius: 20px;
}


p {
	text-justify: justify;
}


#profile {
	width: 200px;
	border-radius: 50%;
	box-shadow: 5px 5px 3px black;
	border: 5px solid black;
}


.text-justify {
	text-align: justify;
}


#banner {
	text-align: center;
	background background-size: cover;
	margin: 60px 60px;
}


.box {
	background: white;
	box-shadow: 0 15px 35px #09546D;
	border-radius: 20px;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 700px;
	margin: 30px auto;
	border-radius: 20px;
}

@media (max-width: 760px) {
	.box {
		width: 550px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
	}
}

@media (max-width: 500px) {
	.box {
		width: 250;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
	}
}


#form {
	background-color: #032C6C;
	box-shadow: 0 15px 35px #09546D;
	border-radius: 20px;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (max-width: 760px) {
	#form {
		width: 550px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
	}
}

@media (max-width: 500px) {
	#form {
		width: 250;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
	}
}


input {
	width: 400px;
	height: 50px;
	font-size: auto;
}


.list-inline {
	list-style: none;
	padding-left: 0px;
	text-align: center;
}

.list-inline li {
	display: inline;
	padding: 50px;
}

.list-inline i {
	font-size: 50px;
}

